*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
html,
body{
    width: 100%;
    height: 100%;
}

body{
    background-color: rgba(250, 246, 239);
    font-family: Helvetica;
}

nav{
    /* background-color: white; */
    
    width: 100%;
    height: 8.5vh;
    
    border-bottom: 2px solid black;
    
    position: fixed;
    
    padding: 10px;
    
    z-index: 100;

    background-color: rgba(250, 246, 239);
    /* background-color: white; */
}

nav img{
    width: 100%;
    height: 5.5vh;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* top: 10%; */

    margin-bottom: 5px;
}

/* nav > i
wherever i inside nav only */

/* nav i
wherever i comes anywhere inside nav, even the children of nav */

nav i{
    font-size: 30px;
    margin-top: 10px;
    padding: 15px;
}

nav > span{
    font-size: 25px;

    position: absolute;
    right: 0;

    padding: 5px;
}


.headerlogo{
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 2%;
    /* padding: 10px; */

    width: 95%;
}

hr{
    border: 2px solid black;
}

/* ul{
    font-family: Helvetica;
    padding: 10px;
    /* background-color: red;  */
    /* text-align: center; */

/* } */

/* ul>li{
    display: inline;

    margin: 20px;

    font-size: 140px;

    cursor: pointer;

}

ul>li:hover{
    text-decoration: underline;
    color: blue;
} */ 

.videoplay{
    margin-top: -5px;
}


.bigdot{
    font-size: 150px;
}

.biglinks{
    font-size: 125px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    line-height: 115px;
}

.biglinks > a{
    text-decoration: none;
    color: black;

}

.biglinks > a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    
}

#banner{
    background-color: rgb(255, 57, 164);
    height: 70px;
}

marquee{
    padding: 5px;
    font-size: 50px;
    font-family: Helvetica;
}

marquee:hover{
    color: white;
    cursor: pointer;
}

.text1{
    font-size: 20px;
    padding: 17px;
    border-bottom: 2px solid black;

    font-style: italic;
    
}

.text2{
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 20px 40px 40px 10px;

    line-height: 60px;
}

.link1{
    font-size: 75px;
    color: black;
    padding-bottom: 100px;
    border-bottom: 3px solid black;
    
    display: block;
}

.link1:hover{
    color: blue;
}

.text3{
    font-size: 90px;
    font-weight: 500;
    margin-top: 40px;

}

.text4{
    font-size: 25px;
    text-decoration: underline;
    /* padding: 10px; */
    /* right: 5%; */
    margin-left: 800px;
    color: black;
}

.text4:hover{
    cursor: pointer;
    color: blue;
    font-weight: 500;
}

table, th, tr{
    width: 100%;
    border: 2px solid black;

    font-size: 20px;

    border-collapse: collapse;
}

table{
    border-bottom: none;
    margin-bottom: 30px;
}

th{
    
    border: none;
    padding: 5px;

}

td{
    padding: 10px;
}

#type{
    text-align: left;
    width: 55%;
}

#duration{
    text-align: left;
    width: 30%;
}

#price{
    text-align: right;
    width: 15%;
}

.al{
    text-align: right;
}

.overline{
    text-decoration: line-through;
}

.blue{
    
    color: blue;
    text-decoration: none;
}

.last-child{
    border: none;
}

/*  */
ul{
    width: 100%;
    list-style-type: none;
    /* background-color: yellow; */
}

.table-structure li{
    border-top: 2px solid black;
    font-size: 20px;
    height: 40px;

    /* list-style-type: none; */
}

ul li span{
    padding: 10px;
}


.type-1{
    position: absolute;
    left: 0%;
}

.duration-1{
    position: absolute;
    left: 55%;
    
}

.price-1{
    position: absolute;
    right: 0%;

}


/*  */


.box-container1{
    margin-top: 80px;
    
    color: white;

    width: 100%;
    height: 100vh;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    background-color: none;

    position: relative;

    font-size: 150px;
    
}

.box-container1 span{
    position: absolute;
    top: 70%;
    left: 50px;
}

.left-box1{
    width: 50%;
    height: 100%;

    position: absolute;

    border-right: 2px solid black;

    padding: 10px;
    
}


.right-box1{
    width: 50%;
    height: 100%;
    
    position: absolute;
    left: 50%;
    
    padding: 10px;
}

.left-box1 > div, .right-box1 > div{
    width: 100%;
    height: 100%;
    background-color: black;

    padding: 50px;
}


.left-box1 > div > a, .right-box1 > div > a{
    color: white;

    font-size: 120px;
    text-decoration: none;
}

/*  */



.products-1{
    /* background-color: yellow; */
    width: 100%;
    height: 100px;
    border-bottom: 1px solid black;

}

.products-1:hover{
    color: black;
}

.products-1 li{
    display: inline;
    position: relative;
    top: 5%;
    font-size: 100px;
    padding: 5px;
     
}

.products-1 img{
    width: 10vh;
    height: 10vh;
}

.bigdot-2{
    font-size: 50px;
    
}

/*  */



.box-container2{
    /* background-color: red; */

    position: relative;

    border-top: 2px solid black;
    border-bottom: 2px solid black; 

    /* margin: 10px; */

    width: 100%;
    height: 70vh;
    
}

.box-container2 img{
    width: 500px;
    height: 500px;
}

.box-a{
    /* background-color: yellow; */

    width: 33%;
    height: 100%;

    border-right: 2px solid black;
    
    position: absolute;
    left: 0%;
}

.box-b{
    /* background-color: yellow; */

    width: 33%;
    height: 100%;

    border-right: 2px solid black;

    position: absolute;
    left: 33%;
}

.box-c{
    /* background-color: yellow; */

    width: 33%;
    height: 100vh;

    position: absolute;
    left: 66%;

}

.space-container{
    width: 100%;
    height: 40px;

    /* background-color: red; */
}

.space-1{

    width: 33%;
    height: 40px;

    position: absolute;
    left: 0%;

    border-right: 2px solid black;
}

.space-2{
    width: 33%;
    height: 40px;

    position: absolute;
    left: 33%;

    border-right: 2px solid black;
}

.space-3{
    width: 33%;
    height: 40px;

    position: absolute;
    left: 66%;
}

.pink-box{
    width: 100%;
    height: 120px;

    background-color: rgb(255, 57, 164);

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    font-size: 90px;

    padding: 5px;

}

.inside-text1{
    font-size: 25px;

    text-decoration: underline;

    margin-left: 500px;
    
}

.inside-text2{
    font-size: 25px;
    
    text-decoration: underline;

    margin-left: 12px;
    
}

/*  */


.box-container3{
    width: 100%;
    height: 40vh;

    position: relative;

    border-bottom: 2px solid black;
    /* background-color: red; */

}

.box-container3 img{
    width: 150px;
    height: 150px;

    padding: 20px;
}

.box-d{
    /* background-color: yellow; */

    width: 33%;
    height: 40vh;

    /* border-right: 2px solid black; */
    
    position: absolute;
    left: 0%;
}

.box-e{
    /* background-color: yellow; */

    width: 33%;
    height: 40vh;

    /* border-right: 2px solid black; */

    position: absolute;
    left: 33%;

    padding-top: 20px;
    padding-left: 20px;

    font-size: 20px;
}

.box-f{
    /* background-color: yellow; */

    width: 33%;
    height: 40vh;

    position: absolute;
    left: 66%;

    padding-top: 20px;
    padding-left: 20px;

    font-size: 20px;
    font-weight: 700;
}

.boxff{
    position: absolute;
    bottom: 10%;

    font-size: 15px;
    font-weight: 500;

    text-decoration: underline;
}


.last-box{
    font-size: 15px;

    padding: 20px;
}
